%li.span4
  .thumbnail
    - if task.harvesting?
      .label.label-info Harvesting
    - else
      .label.label-warning Resting
    .task-description= task.description
    .task-time{ 'data-time_spent' => "#{task.time_spent}", 'data-harvesting' => "#{task.harvesting? ? 1 : 0}", :class => "#{'harvesting' if task.harvesting?}" }= task.current_timer
    %div
      - if task.harvesting?
        = link_to content_tag(:i, '', :class => 'icon-pause icon-white') + 'Rest', pause_task_path(task), :class => 'btn btn-primary'
      - else
        = link_to content_tag(:i, '', :class => 'icon-play icon-white') + 'Harvest', continue_task_path(task), :class => 'btn btn-primary'
      = link_to content_tag(:i, '', :class => 'icon-pencil') + 'Modify', edit_task_path(task), :class => 'btn'
      = link_to content_tag(:i, '', :class => 'icon-trash') + 'Banish', task_path(task), :method => :delete, :confirm => 'Do you dare?', :class => 'btn'
