!!! 5
%html
  %head
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title Lifetime Harvester
    %link#favicon{ :rel => "icon", :href => "/favicon.ico" }
    = stylesheet_link_tag "application", :media => "all"
    = include_gon(:init => true, :need_type => true)
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        %p
          .span2= render :partial => 'sessions/user_menu'
          .span10= render :partial => 'sessions/flash', :locals => {:flash => flash}
      = yield
